*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'SUIT', sans-serif;
    color: #736a60;
}

body {

}

.head_inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.inner{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.container {
    padding-top: 194px;
}

/* header */
header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
}

/* top_head */

#top_head{
    width:100%;
    padding: 37px 0 43px;
    background-color: #f8faf0;
    border-bottom: 1px solid #e5e2e0;
    position: relative;
}

#top_head a {
    font-size: 11px;
    display: inline-block;
    line-height: 60px;
    height: 60px;
}

#top_head .head_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#top_head h1{
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 50%;
    margin-left: -55.5px;
}

#top_head #top_left {
    display: flex;
}

#top_head #top_left li{
    margin-right: 20px;
}

#top_head #top_left li:last-child{
    margin-right: 0;
}

#top_head #top_right {
    display: flex;
    align-items: center;
}

#top_head #top_right li{
    margin-right: 30px;
}

#top_head #top_right li a>span{
    color: #ff6000;
}

#top_head #top_right li:last-child{
    margin-right: 0;
}

#top_head #top_right .search a{
    line-height: 60px;
    padding-right: 60px;
    background: url(../img/icon_search.png) no-repeat 100% 50%;
}

/* bottom_head */

#bot_head{
    width:100%;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #39261f;
}

#bot_head .head_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#bot_head li:last-child{
    margin-right: 0;
}

#bot_head a {
    font-family: 'dongle';
    font-size: 22px;
} 

#bot_head #bot_left{
    display: flex;
}

#bot_head #bot_left>li{
    margin-right: 40px;
}

#bot_head #bot_left>li>a{
    font-size: 20px;
    color:#a99362;
    letter-spacing: 1.5px;
}

#bot_head #bot_right{
    display: flex;
}

#bot_head #bot_right>li{
    margin: 0 31px;
}

#bot_head #bot_right>li>a{
    color:#000;
    letter-spacing: 1.5px;
    position: relative;
}

#bot_head #bot_right>li>a.bot_on::before{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -12px;
    left:-1px;
    z-index: 102;
    animation: bot_on .5s;
}

#bot_head #bot_right>li>a.bot_on::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f9b234;
    border-radius: 50%;
    position: absolute;
    bottom: -16px;
    left:-5px;
    z-index: 101;
    animation: bot_on .5s;
}

#bot_head #bot_right>li>a.bot_on{
    color: #f9b234;
}

@-webkit-keyframes bot_on{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bot_head #bot_right .bot_sub {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    z-index: 99;
}

#bot_head #bot_right .bot_sub li{
    float: left;
    width: 130px;
}
#bot_head #bot_right .bot_sub_img li{
    width: 365px !important;
}

#bot_head #bot_right .bot_sub li a{
    font-size: 13px;
    font-family: 'SUIT';
    display: inline-block;
    font-weight: 600;
    color: #7a6e5f;
}

#bot_head #bot_right .bot_sub li>a{
    margin-bottom: 20px;
}

#bot_head #bot_right .bot_sub li>a:hover{
    color:#000;
}

#bot_head #bot_right .bot_sub .sub_span {
    display: block;
    margin-bottom: 10px;
}
#bot_head #bot_right .bot_sub .sub_span a{
    color: #9f9d9d;
    font-weight: 200;
}

#bot_head #bot_right .bot_sub .sub_span a:hover{
    color: #f9b234;
}

.sub_banner {
    float:right !important;
}

.sub_bg {
    display: none;
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-bottom: 1px solid #39261f;
    position: absolute;
    top: 194px;
    left:0;
    z-index: 98;
}

/* modal */

#modal_wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: auto;
    left: 0;
    z-index: 101;
    display: none;
}

#modal {
    width: 1135px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    z-index: 102;
    top: auto;
    left: 50%;
    margin-left: -567.5px;
}

#modal.modal_ani{
    animation: modal .5s forwards;
}

@-webkit-keyframes modal {
    0%{

    }
    100%{
        transform: translate(0, 100px);
    }
}

#modal .modal_tit {
    margin-bottom: 40px;
    padding: 20px 0;
    height: 31px;
    border-bottom: 1px solid #a99362;
}

#modal .modal_tit h2 {
    font-weight: lighter;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-left: 80px;
    padding-left: 55px;
    background: #fff url(../img/icon_search_product.png) no-repeat 6% 50%;
}

#modal .modal_cot {
    padding: 15px 50px;
    width: 1035px;
}

#modal fieldset{
    border: none;
}

#modal legend{
    display: none;
}

#modal .sc_table{
    width: 100%;
}

#modal tr{
    margin-bottom: 30px;
}

#modal th{
    font-size: 14px;
    color: #000;
    white-space: nowrap;
    padding-top: 21px;
    vertical-align: top;
    padding-left: 50px;
}

#modal td{
    font-size: 12px;
    padding: 15px 10px;
    color: #39261f;
    vertical-align: top;
}

#modal .tag {
    padding-top:10px;
    color:#9d9d9d;
}

input[type="text"]{
    width: 350px;
    height: 32px;
    padding: 7px 1px 7px 10px;
    border-radius: 5px;
    border: 1px solid #d1cccb;
    background: #fff;
    font-size: 14px;
    line-height: 16px;
    outline: none;
}

#modal select {
    width:150px;
    height: 32px;
    padding: 0 1px 0 10px;
    border-radius: 5px;
    border: 1px solid #d1cccb;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

#modal .sc_al label{
    display: inline-block;
    margin: 8px 20px 8px 0;
    position: relative;
}

#modal .sc_al label span{
    font-size: 14px;
    padding-left: 24px;
}

#modal input[type="checkbox"] + span::before{
    content: "";
    background: url(../img/icon_checkbox.png) no-repeat 0 50%;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
    left: 0;
    cursor: pointer;
}

#modal input[type="checkbox"]:checked + span::before{
    background-image: url(../img/icon_checkbox_on.png);
}

#modal input[type="checkbox"]{
    display: none;
}

#modal .sc_btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#modal button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color:#fff;
    background-color: #39261f;
}

#modal .modal_close{
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 102;
}

#modal .modal_close a{
    display: inline-block;
    text-indent: -9999px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border : 2px solid #fff;
    background: #39261f url(../img/icon_modal_close.png) no-repeat 50% 50%;
}

/* main */

main {

}

/* banner */

#banner {
    height: 659px;
    position: relative;
    overflow: hidden;
}

#ban_img_wrap{
    width: 2000px;
    overflow: hidden;
    margin: 0 auto;
}

#ban_imgs{
    width: 12000px;
    display: flex;
    text-align: center;
}

#ban_imgs li{
    position: relative;
}

#ban_btn{

}

#ban_btn p{
    position: absolute;
    top: 50%;
    width: 81px;
    height: 20px;
    text-indent: -9999px;
    cursor: pointer;
    margin-top: -10px;
    z-index: 80;
}

#ban_btn #prev{
    left: 50%;
    margin-left: -680px;
    background: url(../img/btn_prev.png) no-repeat;
}

#ban_btn #next{
    right: 50%;
    margin-right: -680px;
    background: url(../img/btn_next.png) no-repeat;
}

#ban_dot{
    position: absolute;
    bottom: 8%;
    left: 50%;
    margin-left: -33px;
    display: flex;
    align-items: center;
    z-index: 80;
    height: 10px;
    width: 90px;
}

#ban_dot li{
    width: 6px;
    height: 6px;
    line-height: 10px;
    margin-right: 5px;
    border-radius: 5px;
    background: #d6cfcd;
    cursor: pointer;
}

#ban_dot li.dot_on{
    width: 10px;
    height: 10px;
    background: #fff;
    transition-delay: 0.3s;
}

/* event */

#event {
    padding: 80px 0;
    position: relative;
}

#event>.inner{

}

/* 이벤트 윗부분 */

#event_top {
    display: flex;
    justify-content: space-between;
}

#event_top .ev_left{
    display: flex;
}

#event_top .ev_left dl {
    margin-right: 80px;
}

#event_top .ev_left dl:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event_top .ev_left dl:first-child dd a{
    font-size: 14px;
    width: 154px;
    height: 43px;
    line-height: 43px;
    border: 1px solid #c8bfb0;
    border-radius: 5px;
    color: #ab9b7f;
    text-align: center;
    display: inline-block;
    transition: .3s;
}

#event_top .ev_left dl:first-child dd a:hover{
    background-color: #ab9b7f;
    color:#fff;
}

#event_top .ev_left dl:last-child{
    position: relative;
    padding-top: 30px;
}

#event_top .ev_left dl:last-child::before{
    content: "";
    width: 20px;
    height: 2px;
    background: #a99362;
    position: absolute;
    top:0;
}

#event_top .ev_left dl:last-child dt{
    font-size: 18px;
    margin-bottom: 10px;
}

#event_top .ev_left dl:last-child dd{
    font-size: 10px;
    color:#9f9d9d;
}

#event_top .ev_right {
    position: relative;
}

#event_top .ev_right p{
    position: absolute;
    top: 15px;
    left: -15px;
    display: inline-block;
    width : 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background-color: #ffba00;
    color:#fff;
    z-index: 30;
}

#event_top .ev_right p::after{
    content: "";
    width: 10px;
    height: 20px;
    background: url(../img/bg_brand.png) no-repeat;
    position: absolute;
    top:0;
    right:-10px;
}

#event_top .ev_right .ev_right_video{
    width: 434px;
    height: 244px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

/* 이벤트 아래부분 */

#event_bot {
    margin-top: 30px;

}

#ev_list {
    display: flex;
    justify-content: space-between;
}

#ev_list li {
    width: 268px;
    height: 445px;
    border: 1px solid #d1cccb;
    border-radius: 5px;
    overflow: hidden;
}

#ev_list li .ev_item_wrap{
    display: flex;
    width: 1072px;
}

#ev_list .ev_item {
    width: 268px;
    height: 445px;
    position: relative;
}

#ev_list .ev_item a>img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#ev_list .ev_item .ev_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1cccb;
    padding: 10px 20px;
}

#ev_list .ev_item .ev_text dl {
    width: 170px;
}

#ev_list .ev_item .ev_text dl dt{
    overflow: hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}

#ev_list .ev_item .ev_text dl dd{
    font-size: 12px;
    color: #9d9d9d;
}

#ev_list .ev_item a>p {
    font-size: 16px;
    padding: 20px;
    display: inline-block;
}

/* event 점 버튼 */

#event_bot #ev_dot {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -27px;
}

#ev_dot li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #9d9d9d;
    margin-right: 10px;
    cursor: pointer;
}

#ev_dot li:last-child{
    margin-right: 0;
}

#ev_dot li.ev_on{
    width: 10px;
    height: 10px;
    background-color: #39261f;
}

/* 중간 배너1 (mid_banner1) */

#mid_banner1 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../img/middle_banner1.jpg) no-repeat center fixed;
}

#mid_banner1 .midText1 {
    position: absolute;
    left:35%;
    top:25%;
}

#mid_banner1 .midText2 {
    position: absolute;
    right:45%;
    top:60%;
}

@-webkit-keyframes slide{
    from{
        left: -100%;
        opacity: 0;
    }
    to{
        left: 35%;
        opacity: 1;
    }
}

@-webkit-keyframes disappear {
    from{
        left: 35%;
        opacity: 1;
    }
    to{
        left:-100%;
        opacity: 0;
    }
}

@-webkit-keyframes slide2{
    from{
        right: -100%;
        opacity: 0;
    }
    to{
        right:45%;
        opacity: 1;
    }
}

@-webkit-keyframes disappear2 {
    from{
        right:45%;
        opacity: 1;
    }
    to{
        right:-100%;
        opacity: 0;
    }
}
/* product (상품) */

#product {
    text-align: center;
    padding: 100px 0;
}

#product .pro_tit {
}

#product .pro_text {
    padding: 20px 0;
}

#product .pro_text dt {
    font-size: 17px;
    font-weight: 500;
    color: #392213;
}

#product .pro_text dd {
    font-size: 11px;
    margin-top: 10px;
    color: #a19e99;
}

#product .pro_imgs{
    display: flex;
}

#product .pro_imgs dl {
    padding: 10px 0;
}

#product .pro_imgs dl dt{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 222px;
    height: 222px;
    background: #fff;
    transition: transform .15s linear;
}

#product .pro_imgs dl dt:hover {
    box-shadow: -5px 5px 0px #c4b597;
    transform: translate(4px,-4px);
    border: 1px solid #f6f4f2;
}

#product .pro_imgs dl dd:first-of-type{
    font-size: 22px;
    color: #392213;
    font-weight: 500;
    margin-bottom: 20px;
}

#product .pro_imgs dl dd a{
    display: inline-block;
    padding: 5px 16px 6px 17px;
    border: 1px solid #c8bfb0;
    border-radius: 5px;
    color: #ab9b7f;
    font-size: 12px;
    transition: .5s;
}

#product .pro_imgs dl dd a:hover {
    background-color: #ab9b7f;
    color: #fff;
}

/* mid_banner2 (중간 배너2) */

#mid_banner2{
    width: 100%;
    height: 400px;
    background: url(../img/middle_banner2.jpg) no-repeat center fixed;
    position: relative;
}

#mid_banner2 .inner{
}

#mid_banner2 .mid_img1{
    display: inline-block;
    width: 380px;
    height: 380px;
    background: url(../img/bg_map.png) no-repeat;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -380px;
}

#mid_banner2 .mid_img1 dl{
    width: 200px;
    position: absolute;
    top: 48%;
    left: 52%;
    margin-left: -100px;
}

#mid_banner2 .mid_img1 dl dt {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

#mid_banner2 .mid_img1 dl dd {
    color: #fff;
    font-size: 15px;
}

#mid_banner2 .mid_img1 dl dd span{
    color:#ff8a00;
}

#mid_banner2 .mid_img2{
    display: inline-block;
    width: 380px;
    height: 380px;
    background: url(../img/bg_catering.png) no-repeat;
    position: absolute;
    top: 100px;
    right: 50%;
    margin-right: -380px;
}

#mid_banner2 .mid_img2 dl{
    width: 200px;
    position: absolute;
    top: 48%;
    right: 3%;
}

#mid_banner2 .mid_img2 dt{
    color: #372317;
    font-size: 18px;
    margin-bottom: 10px;
}

#mid_banner2 .mid_img2 dd{
    color: #665449;
    font-size: 15px;
}

@-webkit-keyframes mid_rot {
    0%{
        opacity: 0;
        transform: rotateY(135deg);
        transform-style: preserve-3d;
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}

@-webkit-keyframes mid_rotBack {
    0%{
        opacity: 1;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
    100%{
        opacity: 0;
        transform: rotateY(135deg);
        transform-style: preserve-3d;
    }
}

/* sns 부분 */
#sns {
    margin: 100px 0 50px 0;
}

#sns .inner {
    text-align: center;
}

#sns .sns_tit {
    margin-bottom: 30px;
}

#sns .sns_text{
    color: #392213;
    font-size: 17px;
    margin-bottom: 25px;
}

#sns #sns_icons{
    display: flex;
    justify-content: center;
}

#sns #sns_icons li{
    margin-left: 10px;
}

#sns #sns_icons li:first-child{
    margin-left: 0;
}

#sns #sns_icons li a{
    display: inline-block;
    text-indent: -9999px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #c8bfb0;
    background-color: #fff;
    position: relative;
}

#sns #sns_icons .facebook a::before{
    background: url(../img/icon_sns_l.png) no-repeat;
    background-position: ;
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -13px;
    width: 26px;
    height: 19px;
}

#sns #sns_icons .instar a::before{
    background: url(../img/icon_sns_l.png) no-repeat;
    background-position-y: -20px;
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -13px;
    width: 26px;
    height: 19px;
}

#sns #sns_icons .blog a::before{
    background: url(../img/icon_sns_l.png) no-repeat;
    background-position-y: -38px;
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -13px;
    width: 26px;
    height: 19px;
}

#sns #sns_icons .youtube a::before{
    background: url(../img/icon_sns_l.png) no-repeat;
    background-position-y: -57px;
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -13px;
    width: 26px;
    height: 19px;
}

#sns #sns_icons .twi a::before{
    background: url(../img/icon_sns_l.png) no-repeat;
    background-position-y: -73px;
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -13px;
    width: 26px;
    height: 19px;
}

/* dun_imgs 맨 밑 이미지들 */

#dun_imgs{
    position: relative;
    width: 100%;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
}

#dun_imgs a{
    display: inline-block;
}

#dun_imgs a .imgSlide {
    display: flex;
    position: absolute;
    left:0;
    top:0;
}

#dun_imgs a .imgSlide.imgani{
    transition: 0.5s ease-out;
}

#dun_imgs a .imgSlide li{

}

#dun_imgs a .imgSlide li img{
    width: 260px;
}

/* footer */

footer{
    margin: 50px 0;
    font-size: 11px;
}

footer .head_inner{
    display: flex;
    justify-content: space-between;
}

#footer_left {
    width: 340px;
}

#footer_left h2 {
    width: 100%;
}

#footer_left .footer_add{
    margin: 10px 0 70px 0;
}

#footer_left address {
    font-style: normal;
}

#footer_left .add {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#footer_left .add ul li{
    margin-bottom: 10px;
}

#footer_left .footer_btn ul{
    display: flex;
    align-items: center;
}

#footer_left .footer_btn ul li:first-child{
    margin-right: 10px;
}

#footer_left .footer_btn #footer_site {
    margin-top: 5px;
    width: 140px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    border-color: #afa7a5;
    text-align: left;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../img/family_size_off.png) no-repeat;
    background-position: 100%;
    outline: none;
}


#footer_left .footer_btn #footer_site.sel_on{
    background: url(../img/family_size_on.png) no-repeat;
    background-position: 100%;
}

#footer_right {
    width: 740px;
}

#footer_right .footer_right_up{
    padding: 20px 0;
    border-top: 2px solid #c9c6c4;
    border-bottom: 1px solid #c7c4c2;
    display: flex;
    justify-content: space-between;
}

#footer_right .footer_menu {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#footer_right .footer_menu dl dt a{
    color: #000;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}

#footer_right .footer_menu dl dd a {
    display: inline-block;
    margin-bottom: 8px;
}

#footer_right .footer_info .footer_submenu{
    text-align: right;
}

#footer_right .footer_info .footer_submenu li a{
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

#footer_right .footer_info .footer_submenu li:nth-child(4) a{
    font-weight: bold;
}

#footer_right .footer_info .footer_icons{
    display: flex;
}

#footer_right .footer_info .footer_icons li {
    margin-right: 3px;
}

#footer_right .footer_info .footer_icons li a{
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #bab2aa;
    background: #fff;
    position: relative;
}

#footer_right .footer_info .footer_icons .fo_face a::after{
    content:"";
    position: absolute;
    width: 9px;
    height: 16px;
    margin: -8px 0 0 -5px;
    background: url(../img/icon_sns.png) no-repeat;
    background-position: -14px 0;
    left:50%;
    top:50%;
}

#footer_right .footer_info .footer_icons .fo_blog a::after{
    content:"";
    position: absolute;
    width: 21px;
    height: 19px;
    margin: -8px 0 0 -10px;
    background: url(../img/icon_sns.png) no-repeat;
    background-position: -42px 0;
    left:50%;
    top:50%;
}

#footer_right .footer_info .footer_icons .fo_instar a::after{
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    margin: -8px 0 0 -7px;
    background: url(../img/icon_sns.png) no-repeat;
    background-position: -97px 0;
    left:50%;
    top:50%;
}

#footer_right .footer_info .footer_icons .fo_twi a::after{
    content:"";
    position: absolute;
    width: 13px;
    height: 10px;
    margin: -5px 0 0 -6px;
    background: url(../img/icon_sns.png) no-repeat;
    background-position: 0 -1px;
    left:50%;
    top:50%;
}

#footer_right .footer_info .footer_icons .fo_you a::after{
    content:"";
    position: absolute;
    width: 19px;
    height: 21px;
    margin: -10px 0 0 -9px;
    background: url(../img/icon_sns.png) no-repeat;
    background-position: -23px 0;
    left:50%;
    top:50%;
}

#footer_right .footer_right_down {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 12px;
}

#footer_right .footer_right_down li a {
    color: #000;
}

#footer_right .footer_right_down li a span{
    color :red;
    font-weight: bold;
}









